*.smali
*.apk
*.jar
*.jks
/Track/smali
/Track/smali_classes2
/Track/smali_classes3
/Track/smali_classes4
/Track/smali_classes5
/Track/smali_classes6
/Track/smali_classes7
/Track/smali_classes8
/Track/smali_classes9
/Track/smali_classes10
/Track/smali_classes11
/Track/lib
/Track/original
